<html>

<head>
  <title>
    Restaurant Details
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="login.component.css"></script>
  <script src="../../styles.css"></script>
</head>
<body>

<app-restaurantdropdown></app-restaurantdropdown>

<div class="container">
  <h2>Add new item to the Menu</h2>
  <form mehtod="post" [formGroup]="menuForm" (ngSubmit)=onSubmit(menuForm.value)>
    <div class="item">
      <div class="row">
        <div class="col-md-6">
          <div class="row" style="margin: 10% 10%">
            <div class="row">
              <strong>Image:</strong>
              <input type="file" required="required" accept="image/*" (change)="onFileSelected($event)" id="food_image"
                     ng-model="res_image" base-sixty-four-input>
            </div>
            <br>
            <div class="row">
              <p>
                <strong> Name: </strong>
                <input type="text" required="required" formControlName="name" placeholder="Cheeseburger" id="name">
              </p>
            </div>
            <div class="row">
              <p>
                <strong> Price: </strong>
                <input type="text" required="required" formControlName="cost" placeholder="$2.00" id="cost">
              </p>
            </div>
            <div class="row">
              <p>
                <strong> Description: </strong>
                <input type="text" required="required" formControlName="description" placeholder="A delecious Meal"
                       id="description">
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" style="margin-right: 20px">
        <button type="submit" value="submit" class="btn btn-primary pull-right" style="width: 200px">
          Add Item
        </button>
      </div>
    </div>
  </form>
</div>


</body>

</html>
