<html>

<head>
  <title>
    Restaurant Details
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="login.component.css"></script>
  <script src="restaurantviewdetails.component.css"></script>
  <script src="../../styles.css"></script>
</head>
<body>

<app-restaurantdropdown></app-restaurantdropdown>


<div class="container">
  <div class="container">
    <h3>Edit Details</h3>
    <p>Please put new restaurant information here! After edit, do not forget to click update at the button.</p>
  </div>
  <hr>
  <form mehtod="post" [formGroup]="detailsForm" (ngSubmit)=onSubmit(detailsForm.value)>
    <div class="row">
      <div class=" col-md-6">
        <img [src]="restaurant_details.res_image" alt="" style="width: 500px"/>
        <input type="file" required="required" accept="image/*" (change)="onFileSelected($event)" id="res_image"
               ng-model="res_image"
               base-sixty-four-input>
      </div>
      <div class="form-style col-md-6">
        <h4>
          <input type="text" required="required" formControlName="name" value="{{ restaurant_details.name }}"
                 id="name" style="width: 100%">
        </h4>
        <li>
          <strong> Contact: </strong>
          <input type="text" required="required" formControlName="contact" value="{{ restaurant_details.contact }}"
                 id="contact">
        </li>
        <li>
          <strong> Food Category: </strong>
          <input type="text" required="required" formControlName="food_category"
                 value="{{ restaurant_details.food_category }}" id="food_category">
        </li>
        <li>
          <strong> Location: </strong>
          <input type="text" required="required" formControlName="location"
                 value="{{ restaurant_details.location }}" id="location">
        </li>
        <li>
          <strong> Working Hours: </strong>
          <input type="text" required="required" formControlName="working_hours"
                 value="{{ restaurant_details.working_hours }}"
                 id="working_hours">
        </li>
        <li><strong> Description: </strong> Some thing write here!</li>
      </div>
    </div>
    <hr>
    <div class="row">
      <button href="#" routerLink="/restaurantviewdetails" type="submit" value="submit"
              class="btn btn-primary btn-lg btn-block pull-right" style="width: 100px; margin-right: 20px">Update
      </button>
    </div>
  </form>
</div>
</body>
</html>
