
<html>

    <head>
        <title>
          Restaurant Portal
        </title>
        <!-- Bootstrap CDN scripts -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="login.component.css"></script>
        <script src="../../styles.css"></script>
    </head> 
    <body>

        <nav class="navbar navbar-light">
            <!-- Navbar content -->
            <!-- Just an image -->
            <a class="navbar-brand" routerLink="/public" style="padding: 0;">
              <img src="../../assets/img/logo.png" height="50" alt="">
            </a>
            <ul class="nav navbar-nav navbar-right" style="padding-right: 20px;"> 
                <li><a routerLink="/resturantlogin"><span class="glyphicon glyphicon-log-out"></span> Log out </a></li>
            </ul>
          </nav>

          <app-sidebar>


          </app-sidebar>
    </body>

</html>