
<html>

    <head>
        <title>
          Restaurant Portal
        </title>
        <!-- Bootstrap CDN scripts -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="login.component.css"></script>
        <script src="../../styles.css"></script>
    </head> 
    <body>

        <nav class="navbar navbar-light">
            <!-- Navbar content -->
            <!-- Just an image -->
            <a class="navbar-brand" routerLink="/public" style="padding: 0;">
              <img src="../../assets/img/logo.png" height="50" alt="">
            </a>
            <ul class="nav navbar-nav navbar-right" style="padding-right: 20px;"> 
                <div class="container">
                  <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Account <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <label>Orders</label>
                        <li><a href="#" routerLink="/restaurantcurrentorders">Current Orders</a></li>
                        <li><a href="#" routerLink="/orderhistory">Order History</a></li>
                        <div class="dropdown-divider"></div>
                        <label>Restaurant Details</label>
                        <li><a href="#" routerLink="/resturantdetails">Add Details</a></li>
                        <li><a href="#" routerLink="/restaurantviewdetails">View Details</a></li>
                        <div class="dropdown-divider"></div>
                        <label>Restaurant Menu</label>
                        <li><a href="#" routerLink="/restaurantmenu">Add items to menu</a></li>
                        <li><a href="#" routerLink="/restaurantviewmenu">View Menu</a></li>
                        <div class="dropdown-divider"></div>
                        <label>Restaurent Statistics</label>
                        <li><a href="#" routerLink="/restaurantstats">Statistics</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a href="#" routerLink="/resturantlogin">Log out</a></li>
                      </ul>
                    </div>
                </div>
            </ul>
          </nav>

    </body>

</html>