<html>
<head>
  <title>
    customer dashboard
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="login.component.css"></script>
  <script src="../../styles.css"></script>
</head>
<body>
<nav class="navbar navbar-light">
  <!-- Navbar content -->
  <!-- Just an image -->
  <a class="navbar-brand" routerLink="/public" style="padding: 0;">
    <img src="../../assets/img/logo.png" height="50" alt="">
  </a>
  <ul class="nav navbar-nav navbar-right" style="padding-right: 20px;">
  <li><a routerLink="/shoppingcart" class="glyphicon glyphicon-shopping-cart"> Cart</a></li>
  <div class="container">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> Account <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><button class="btn" href="#" routerLink="/shoppingcart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart </button></li>
          <li><button class="btn" href="#" routerLink="/customerprofile">Profile</button></li>
          <li><button class="btn" href="#" routerLink="/public"><span class="glyphicon glyphicon-log-out"></span>Log out</button></li>
        </ul>
      </div>
  </div>
  </ul>
</nav>

    <h3>Profile</h3>

    <a routerLink="/customereditprofile">Edit Profile</a>
    <p>Profile image: </p>
    <!-- placeholder for customer profile image -->
    <div #profileimage></div>
    <br>
    <p>Full name</p>
    <!-- placeholder for the full name of the customer -->
    <div #fullname></div>
    <br>
    <p>Email address: </p>
    <!-- placeholder for the email address -->
    <div #email></div>
    <br>



</body>
</html>