<html>
<head>
  <title>
    Log In
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="login.component.css"></script>
  <script src="../../styles.css"></script>
</head>
<body>
<nav class="navbar navbar-light">
  <!-- Navbar content -->
  <!-- Just an image -->
  <a class="navbar-brand" routerLink="/public" style="padding: 0;">
    <img src="../../assets/img/logo.png" height="50" alt="">
  </a>
  <ul class="nav navbar-nav navbar-right" style="padding-right: 20px;">
    <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Customer Login </a></li>
  </ul>
</nav>
<div class="container" style="width: 400px; margin-top: 5%; margin-bottom: 5%">
  <div class="jumbotron" style="padding: 0; background-color: #FFF8E1">
    <div class="container" style="text-align: center; padding: 20px; border-bottom: #FFE082 2px solid">
      <h2>Restaurant Login</h2>
    </div>
    <div class="container" style="padding: 30px; font-size: 15px">
      <form method="post" [formGroup]="restaurantLoginForm" (ngSubmit) = onSubmit(restaurantLoginForm.value)>
        <div class="container" style="padding-bottom: 20px">
          <div>Your Email:</div>
          <div><input type = "text" required = "required" formControlName="email" placeholder="example@foodoholic.com" id="Email" style="width: 100%"></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6">Your Password:</div>
            <div class="col-md-6" style="text-align: right"><a routerLink="/recover">Forgot?</a></div>
          </div>
          <div><input type = "password" required = "required" formControlName="password" placeholder="*******************" id="password" style="width: 100%"></div>
        </div>
        <div class="container" style="padding: 20px 20px 0px 20px">
          <button type="submit" value = "submit" class="btn btn-primary btn-lg btn-block">Login</button>
        </div>

      </form>
    </div>
    <div class="container" style="border-top: #FFE082 2px solid; padding: 30px 40px 40px 40px; font-size: 15px">
      <div class="row" style="font-style: italic; text-align: center"><b>Want us to deliver your food?</b></div>
      <div class="row"><a routerLink="/restaurantreg">Create a restaurant account</a>, registered to be a restaurant owner on Food-O-Holic today!</div>
    </div>
  </div>
</div>
</body>
</html>
