<div>
  <nav class="navbar navbar-inverse navbar-fixed-top sidebar-main" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li><a routerLink="/public" style="padding: 0;"><img src="../../assets/img/logo.png" height="50" alt=""></a></li>
      <li><a routerLink="/restaurantcurrentorders"><span class="glyphicon glyphicon-briefcase"></span> Current Orders </a></li>
      <li><a routerLink="/restaurantdetails"><span class="glyphicon glyphicon-th-list"></span> Add Details </a></li>
      <li><a routerLink="/restaurantviewdetails"><span class="glyphicon glyphicon-list-alt"></span> View Details</a></li>
      <li><a routerLink="/restaurantmenu"><span class="glyphicon glyphicon-menu-hamburger"></span> Add items to Menu </a>
      </li>
      <li><a routerLink="/restaurantviewmenu"><span class="glyphicon glyphicon-cutlery"></span> View Menu </a></li>
      <li><a routerLink="/restaurantstats"><span class="glyphicon glyphicon-stats"></span> Statistics </a></li>
      <li><a routerLink="/orderhistory"><span class="glyphicon glyphicon-folder-open"></span> Order History</a></li>
      <li><a routerLink="/resturantlogin"><span class="glyphicon glyphicon-log-out"></span> Log out </a></li>
    </ul>
  </nav>
</div>
