<html>

<head>
  <title>
    Order History
  </title>
  <!-- Bootstrap CDN scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="login.component.css"></script>
  <script src="../../styles.css"></script>
</head>
<body style="background-color: #FFCA28">



<app-restaurantdropdown></app-restaurantdropdown>

<div class="container" style="margin: 0px 0px 0px 200px; padding: 0">
</div>

  <div *ngIf="orders">
    <ul>
      <div *ngFor="let order of orders">
        Price: {{order.price}}
        Name Of Item: {{ order.name_of_item }}
        Status: Fulfilled
      </div>
    </ul>
  </div>

</body>

</html>
