/* You can add global styles to this file, and also import other style files */

.login-background {
  background-image: url("/assets/img/LoginBackground.jpg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}

nav {
  background-color: #FFCA28;
}


